/* ----------- ESTILOS PERSONALIZADOS ----------- */

.border-bottom-reports{  
    border-bottom: 2px solid #ffa800;  
}

.fontsize-reports{
    font-size: 15px;

}

.fontsize-reports-title{
    font-size: 22px;

}
